<a href="https://colab.research.google.com/github/mjcrgn/python-practice/blob/master/basics01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

notes

- double click to edit cell
- run cell (or exit, esp for text cells) and move to following cell: shift + enter
  - if next cell doesn't exist it'll create one for you (same type as whatever cell you just exited)
- apparently python doesn't end lines in semicolons? wild
- single or double quotes for variables, doesn't matter. but if you start with a single quote you MUST end with a single quote, same with double
  - also colabs does that lovely thing where it kinda autocompletes your typing for you in code (like it won't correct spelling, but if you hit a single quote it'll immediately enter the second closing quote for you) (we love modern coding)
- if possible, press ctrl / shift / alt + enter to run cells instead of clicking play button
  - for one thing keyboard shortcuts are just faster than constantly moving to the mouse and clicking but also sometimes the play button doesn't do what you expect it to do


PUSHING TO GITHUB

- file > save copy in github
  - IF BRANCH DOESN'T EXIST, open in visual studio code
  - create new file, type whatever, name it readme.md (.md MUST BE LOWERCASE!)
  - save file
  - should show blue 1 on the left, click it, then push changes to github
  - refresh github
  - hopefully colabs can now save copies to github!
  - if not idk troubleshoot with prof again


terminology
- EOL: end of line

In [25]:
import math

Create five variables

In [3]:
first_name = "MJ"
firstName = "AJ"
FirstName = "JJ"
FIRSTNAME = "PJ"
_firstname = "RJ"

In [5]:
print(first_name)
print(firstName)
print(FirstName)
print(FIRSTNAME)
print(_firstname)

MJ
AJ
JJ
PJ
RJ

Create ten variables

In [21]:
lastName = "Red" # I have zero brain to come up with a bunch of last names on the spot
LastName = "Orange"
last_name = "Yellow"
Last_Name = "Green"
LASTNAME = "Blue"
lastname = "Indigo"
lAsTnAmE = "Violet"
laastnaame = "Pink"
llastnname = "Black"
yeehaw = "White"

In [8]:
print(lastName)
print(LastName)
print(last_name)
print(Last_Name)
print(LASTNAME)
print(lastname)
print(lAsTnAmE)
print(laastnaame)
print(llastnname)
print(yeehaw)

Red
Orange
Yellow
Green
Blue
Indigo
Violet
Pink
Black
White

In [19]:
num = 10

In [10]:
print(first_name)

MJ

- after running the code below I tried to print first_name again up here while editing it with a comment and it printed 90. so note that changes to a variable made later will hold for earlier code

In [17]:
first_name = 90 # Updating variable first_name

In [16]:
print(first_name) # Now it's printing the new value

90

Data types

In [27]:
# Float / Double

num = 12.90 # Notice 0 gets omitted when printing, it's redundant
num

12.9

In [24]:
num1 = 12.398475938492563
num1

12.398475938492563

In [26]:
# Printing pi: import math library to get access
# Automatically stops at 15th decimal place so as not to run forever

math.pi

3.141592653589793

In [28]:
# Boolean

game = True # True / False values capitalized in Python

In [29]:
type(num) # Prints data type

float

In [30]:
type(game)

bool

In [31]:
# List

list1 = ["hello", "world", "goodbye"] # SQUARE BRACKETS FOR LISTS!

['hello', 'world', 'goodbye']

Create 10 lists, 10 booleans, 10 floats

In [45]:
list2 = [1, 2, 3] # BRACKETS
list3 = [4, 5, 6]
list4 = ["a", "b", "c"]           # Encase in quotes so they're strings, if just list4 = [a, b, c] those could be variables and in this case, are unassigned - might not run
list5 = ['d', 'e', 'f']           # Just do single quotes, prob faster in the long run (no shift)
list6 = ["g", "h", 'i', 10, game] # Can mix data types!
list7 = [list2, list3]            # Can I put a list in a list?
list8 = [3.4, num1, "yeehaw"]
list9 = ["monday", 'tuesday', 'wednesday', "thursday"]
list10 = ['friday', 'saturday', 'sunday']
list11 = []

bool1 = 0       # I think these can hold integers?
bool2 = 1
bool3 = True    # T/F capitalized for boolean values
bool4 = False
bool5 = True
bool6 = False
bool7 = 11
bool8 = 12
bool9 = 13.57   # What about decimals :0
bool10 = -6     # IIRC anything that isn't 0 is true so even if negative this would return True

float1 = 1.2
float2 = 2.3 
float3 = 3.456
float4 = 2452.9879235
float5 = 0.0
float6 = 0.0000000000001
float7 = 9.9999999999999
float8 = 8.8813
float9 = 6.9    # Nice
float10 = 10.0

In [39]:
# Dictionary - this is just Python's name for an array
# CURLY BRACKETS

dictExample = {'key': 'value', 'key2': 'value2', 'key3': 'value3'}
dictExample

{'key': 'value', 'key2': 'value2', 'key3': 'value3'}

Create:
- dict1 = 10 foods
- dict2 = 10 names
- dict3 = 5 sports players

In [44]:
dict1 = {
    'fruit': 'apple',
    'vegetable': 'carrot',
    'tuber': 'potato',
    'legume': 'pinto',
    'yam': 'ube',
    'soup': 'french onion',
    'meat': 'beef',
    'dairy': 'milk',
    'dessert': 'cake',
    'granola': 'bar' # lol
}

dict2 = { # Can assign a list to the same key to save time
    'names': [
        'Anna', 
        'Burton', 
        'Chester', 
        'Diana', 
        'Elmer', 
        'Fred', 
        'George', 
        'Heather', 
        'Irene', 
        'Julia'
    ]
} 

dict3 = {
    'point guard': 'Elfrid Payton',
    'shooting guard': 'Austin Rivers',
    'small forward': 'RJ Barrett',
    'power forward': 'Obi Toppin',
    'center': 'Mitchell Robinson'
}

print(dict1)
print(dict2)
print(dict3)

{'fruit': 'apple', 'vegetable': 'carrot', 'tuber': 'potato', 'legume': 'pinto', 'yam': 'ube', 'soup': 'french onion', 'meat': 'beef', 'dairy': 'milk', 'dessert': 'cake', 'granola': 'bar'}
{'names': ['Anna', 'Burton', 'Chester', 'Diana', 'Elmer', 'Fred', 'George', 'Heather', 'Irene', 'Julia']}
{'point guard': 'Elfrid Payton', 'shooting guard': 'Austin Rivers', 'small forward': 'RJ Barrett', 'power forward': 'Obi Toppin', 'center': 'Mitchell Robinson'}